
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #222;
    padding: 15px 30px;
}

nav h2 {
    color: white;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 20px;
}

/* Pseudo-class li:first-child */
li:first-child {
    font-weight: bold;
}

/* Pseudo-class a:hover */
a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: yellow;
}

#hero {
    text-align: center;
    padding: 60px 20px;
    background-color: #e6f2ff;
}

#hero button {
    padding: 10px 20px;
    border-radius: 6px;
    border: none;
    background-color: #007bff;
    color: white;
    margin-top: 15px;
}

#courses {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 40px;
        
}


.course {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 15px;
    width: 250px;
    text-align: center;
    background-color: #f9f9f9;
    transition: 0.3s;
    cursor:pointer;
}


.course > h3 {
    color: #007bff;
    margin-bottom: 10px;
}


h3 + p {
    color: #555;
    margin-bottom: 15px;
}


.course button {
    padding: 8px 15px;
    border-radius: 5px;
    border: none;
    background-color: #28a745;
    color: white;
}


.course:hover {
    background-color: #dff0ff;
    transform: scale(1.05);
}


.course:first-child {
    background-color: #fff3cd;
}

.course:last-child {
    background-color: #d4edda;
}


#testimonials {
    text-align: center;
    padding: 40px;
    background-color: #f0f0f0;
}


footer {
    text-align: center;
    padding: 20px;
    background-color: #222;
    color: white;
}
